%ul.nav-links.scrolling-tabs
  .fade-left
  = nav_link(controller: %w(dashboard admin projects users groups builds runners), html_options: {class: 'home'}) do
    = link_to admin_root_path, title: 'Overview', class: 'shortcuts-tree' do
      %span
        Overview
  = nav_link(controller: %w(background_jobs logs health_check)) do
    = link_to admin_background_jobs_path, title: 'Monitoring' do
      %span
        Monitoring
  = nav_link(controller: :deploy_keys) do
    = link_to admin_deploy_keys_path, title: 'Deploy Keys' do
      %span
        Deploy Keys
  = nav_link(controller: :broadcast_messages) do
    = link_to admin_broadcast_messages_path, title: 'Messages' do
      %span
        Messages
  = nav_link(controller: :hooks) do
    = link_to admin_hooks_path, title: 'Hooks' do
      %span
        Hooks

  = nav_link(controller: :appearances) do
    = link_to admin_appearances_path, title: 'Appearances' do
      %span
        Appearance

  = nav_link(controller: :applications) do
    = link_to admin_applications_path, title: 'Applications' do
      %span
        Applications

  = nav_link(controller: :services) do
    = link_to admin_application_settings_services_path, title: 'Service Templates' do
      %span
        Service Templates

  = nav_link(controller: :labels) do
    = link_to admin_labels_path, title: 'Labels' do
      %span
        Labels

  = nav_link(controller: :abuse_reports) do
    = link_to admin_abuse_reports_path, title: "Abuse Reports" do
      %span
        Abuse Reports
        %span.badge.count= number_with_delimiter(AbuseReport.count(:all))

  - if askimet_enabled?
    = nav_link(controller: :spam_logs) do
      = link_to admin_spam_logs_path, title: "Spam Logs" do
        %span
          Spam Logs

  = nav_link(controller: :application_settings, html_options: { class: 'separate-item'}) do
    = link_to admin_application_settings_path, title: 'Settings' do
      %span
        Settings
  .fade-right
